streamlit
langchain_google_genai
langchain_community 
pypdf 
sentence_transformers
python-dotenv
langchain-text-splitters
rank_bm25
langchain-huggingface
langchain-pinecone
pinecone >= 3.0.0
google_genai
